<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot_arm">

    <!-- Xacro arguments -->
    <xacro:arg name="robot_name" default="robot_arm"/>
    <xacro:arg name="prefix" default=""/>
    <xacro:arg name="add_world" default="true"/>
    <xacro:arg name="base_link" default="base_link"/>
    <xacro:arg name="base_type" default="fixed"/>
    <xacro:arg name="flange_link" default="link_6"/>
    <xacro:arg name="use_camera" default="false"/>
    <xacro:arg name="use_gazebo" default="false"/>

    <!-- Import arm urdf file -->
    <xacro:include filename="$(find robot_arm_description)/urdf/robot/arm.urdf" />

    <!-- Include ROS 2 control configuration for Gazebo -->
    <xacro:if value="$(arg use_gazebo)">
        <xacro:include filename="$(find robot_arm_description)/urdf/control/robot_arm_ros2_control.urdf.xacro" />
        <xacro:include filename="$(find robot_arm_description)/urdf/control/gazebo_sim_ros2_control.urdf.xacro" />
        
        <!-- Load ROS 2 control macro -->
        <xacro:robot_arm_ros2_control 
            prefix="$(arg prefix)" 
            flange_link="$(arg flange_link)" 
            use_gazebo="$(arg use_gazebo)"/>
        
        <!-- Load Gazebo ROS 2 control plugin -->
        <xacro:load_gazebo_sim_ros2_control_plugin 
            robot_name="$(arg robot_name)" 
            use_gazebo="$(arg use_gazebo)"/>
    </xacro:if>

    <!-- Include camera if use_camera is true -->
    <xacro:if value="$(arg use_camera)">
        <xacro:include filename="$(find robot_arm_description)/urdf/sensors/intel_rgbd_cam_d435.urdf.xacro" />
    </xacro:if>

</robot>